:root {
  --document-font-family: arial, Helvetica, sans-serif;
  --darkmode-background-color: #333333;
  --darkmode-text-color: lightgray;
  --primary-color: black;
  --secondary-color: darkred;
}

body {
  margin: 0;
  background-color: var(--darkmode-background-color);
  font-family: var(--document-font-family);
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
}

img {
  max-width: 50px;
  max-height: 50px;
  border-right: solid 1px white;
}

button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: large;
  background-color: var(--primary-color);
  color: var(--darkmode-text-color);
  border: solid thin white;
  border-top: none;
  border-bottom: none;
}

button:hover {
  background-color: var(--secondary-color);
  color: white;
  border: solid var(--primary-color);
}

.first-button {
  border-left: solid 1px white;
}

.last-button {
  border-right: none;
}

button a {
  text-decoration: none;
  color: var(--darkmode-text-color);
}

h1 {
  font-family: var(--document-font-family);
  color: var(--darkmode-text-color);
  text-align: center;
}
